{% extends 'base.html' %}

{% block content%}
<div class="page_elem">
	<div class="basket">
    <div class="truck-itm">Cтоловая работает c 9.00 до 18.00</div>
    
    <div class="buck-itm">{% if hour >= 18 or hour < 9  %}
Сейчас столовая закрыта
{% else %}
Сейчас столовая работает
{% endif %}</div></div>

</div>
<br />
	<div id="borders">
	<div class="menu">
		<h3 class="PlayfairDisplay">Список блюд</h2>
	<form action="bucket" method="POST">
	
	{% csrf_token %}

	  <details>
	<summary tabindex="1"><span>Напитки</span></summary>
	<p>
	
	{% csrf_token %}
	<ul>
		{% for dish in drinks %}
			{%if dish.hidden %}
				<li><a id="kerch">Нет в наличии</a><p></p></li>
			{% else %}
				<li><a id="kerch" href="/topic/{{ dish.pk }}">{{ dish.subject }}<br /> ({{ dish.price }} р/{{dish.calories}} кал/{{dish.weigth}} г)<br /></a><input type="checkbox" style="margin-left: 8.4em"name="{{dish}}" id="qwe"></li>
			{% endif %}
		{% endfor %}
	</ul>
	</p>
	</details>

  <details>
    <summary tabindex="2" ><span>Первые блюда</span></summary>
<p>
	<ul>
		{% for dish in firsts %}
			{%if dish.hidden %}
				<li><a id="kerch">Нет в наличии</a><p></p></li>
			{% else %}
				<li><a id="kerch" href="/topic/{{ dish.pk }}">{{ dish.subject }}<br /> ({{ dish.price }} р/{{dish.calories}} кал/{{dish.weigth}} г)<br /></a><input type="checkbox" style="margin-left: 8.4em"name="{{dish}}" id="qwe"></li>
			{% endif %}
		{% endfor %}
	</ul>
	</p>
  </details>

  <details>
    <summary tabindex="3" ><span>Основные блюда</span></summary>
<p>
	<ul>
		{% for dish in mains %}
			{%if dish.hidden %}
				<li><a id="kerch">Нет в наличии</a><p></p></li>
			{% else %}
				<li><a id="kerch" href="/topic/{{ dish.pk }}">{{ dish.subject }}<br /> ({{ dish.price }} р/{{dish.calories}} кал/{{dish.weigth}} г)<br /></a><input type="checkbox" style="margin-left: 8.4em"name="{{dish}}" id="qwe"></li>
			{% endif %}
		{% endfor %}
	</ul>
	</p>
  </details>

  <details>
    <summary tabindex="4" >Салаты</summary>
<p>
	<ul>
		{% for dish in salads %}
			{%if dish.hidden %}
				<li><a id="kerch">Нет в наличии</a><p></p></li>
			{% else %}
				<li><a id="kerch" href="/topic/{{ dish.pk }}">{{ dish.subject }}<br /> ({{ dish.price }} р/{{dish.calories}} кал/{{dish.weigth}} г)<br /></a><input type="checkbox" style="margin-left: 8.4em"name="{{dish}}" id="qwe"></li>
			{% endif %}
		{% endfor %}
	</ul>
	</p>
  </details>
<br />
<input class="io" type="submit" name="bucket"  value="Добавить отмеченные блюда в корзину!"/>
</form>


<br /><br />
<a href="{{ topic_add_url }}" type="button" class="btn btn-primary" class="serg2">Добавить блюдо </a>



{% comment %}
<a href="/" type="button" class="btn btn-primary" id="serg">Сортировать блюда по времени добавления</a><p></p>
<a href="{{ topic_sorted }}" type="button" class="btn btn-primary" id="serg">Сортировать блюда по количеству просмотров</a><p></p>
{% endcomment %}
<br /><br />
</div>

{% endblock %}
