{% extends 'base.html' %}
{% block content%}
</br>
	<div id="borders">
	<div class="menu">
<div id="borders">
<ul>
	{% for meal in meals %}
		<li><a id="kerch">{{ meal.meal }}<br /> ({{ meal.price }} р/{{meal.calories}} кал)</a></li> 

	{% endfor %}
</ul>
<br />
<strong>Всего калорий:</strong> {{allcall}}<br />
<strong>Общая стоимость:</strong> {{allprice}}<br />
<br />
<a href="/cleaning" type="button" class="btn btn-primary" class="serg2">Очистить корзину</a><p></p>
</div></div></div>
{% endblock%}
